<div id="message_header">
  <nav class="navbar navbar-expand-sm navbar-light justify-content-around">
    <a class="navbar-brand top-icon" href="/">
      <h1>ノシ将棋</h1>
    </a>

    <%= search_form_for @q, url: posts_search_posts_path, class:"ml-4 w-75 d-inline center-block" do |f| %>
      <div class="input-group header_top">
        <%= f.search_field :app_or_chess_or_time_or_all_tag_cont, placeholder: '何でも検索...', class: 'form-control', id: 'tags_top'%>
        <%= f.submit ("🔍"), class: 'btn btn-secondary' %>
      </div>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice", style="margin-right:30px;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error", style="margin-right:30px;"><%= alert %></p>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNav">
      <h4>部屋名：</br><%= @room.name %></h4>
    </div>

  </nav>
</div>
<div id="message-container">
  <div id='messages' data-room_id="<%= @room.id %>" style="margin-top:100px;">
    <%= render @messages %>
  </div>
</div>
<%= render 'footer' %>
