<ul class="cp_breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li><a href="">投稿</a></li>
</ul>

<div class="container">
  <div id="wrap" class="single">
    <h1 class="post-heading">投稿</h1>
    <div class="post-explanation">
      <h2 class="explanation-title">
        賢く投稿を行うために。
      </h2>
      <div class="explanation-body">
        <ul class="explanation-show">
          <li>１．使用するアプリ名は正式名を入力していただくと検索にかかりやすいです。</li>
          <li>２．棋力はそのアプリの棋力、または自分の推定棋力を入力してください。</li>
        </ul>
      </div>
    </div>
    <div class="inputInformation">
      <p>下記の内容をご入力の上、お進みください。</p>
    </div>

    <%= form_for(@post, :url => {:controller => :posts, :action => :create})  do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h3 style="color:red;">
          <%= I18n.t("errors.messages.not_saved",
                     count: @post.errors.count,
                     resource: @post.class.model_name.human.downcase)
           %>
          </h3>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.fields_for :room do |i| %>
        <div class="form-group">
          <%= i.label :name, '部屋名*' %>
          <%= i.text_field :name, class: 'form-control'%>
          <small id="poster-tip" class="form-text text-muted">
            部屋の名前を決めてください。
          </small>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :chess, '棋力*' %>
        <%= f.text_field :chess, class: 'form-control tagsinput',value: current_user.chess %>
        <small id="poster-tip" class="form-text text-muted">
          自分の棋力を入力してください。
        </small>
      </div>
      <div class="form-group">
        <%= f.label :app, '使用するアプリ*' %>
        <%= f.text_field :app, class: 'form-control tagsinput',value: current_user.app %>
        <small id="poster-tip" class="form-text text-muted">
          希望するアプリを入力してください。
        </small>
      </div>
      <div class="form-group">
        <%= f.label :time, '対戦時間*' %>
        <%= f.text_field :time, class: 'form-control tagsinput',value: current_user.time %>
        <small id="poster-tip" class="form-text text-muted">
          希望する対戦時間を入力してください。
        </small>
      </div>
      <div class="form-group">
        <%= f.label :all_tag, 'タグ' %>
        <%= f.text_field :all_tag, class: 'form-control', id: 'tags_all' %>
        <small id="poster-tip" class="form-text text-muted">
          好きなタグをつけることができます。
        </small>
      </div>
      <div class="form-group">
        <%= f.label :content, '募集内容' %>
        <%= f.text_area :content, class: 'form-control'%>
        <small id="poster-tip" class="form-text text-muted">
          募集内容を入力してください。
        </small>
      </div>
      <div class="buttonContainer">
        <%= f.submit '投稿', class: 'btn btn-primary buttonConfirm' %>
      </div>
    <% end %>
  </div>
</div>
